.logo {
  margin-top: 2.5rem;
  max-width: 700px;
  margin: 0 auto;
  padding: 5rem 0 4rem 0;
  cursor: pointer;
}

.card {
  margin-bottom: 3rem;
}

.card:last-child {
  margin-bottom: 4rem;
}

.title {
  font-size: 28px;
  color: var(--heading);
  margin-bottom: 0.5rem;
  line-height: 34px;
  display: inline-block;
  cursor: pointer;
}

.subtitle {
  font-size: 18px;
  color: var(--body);
  margin-bottom: 1.5rem;
}

.infoArea {
  font-size: 14px;
  color: var(--info);
  display: flex;
  gap: 1.5rem;
}

.info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.loadMore {
  color: var(--highlight);
  font-size: 18px;
  background: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
